---
---

<div class="row">
  <div class="col-sm-2 abbr">
  {%- if entry.abbr -%}
    {%- if site.data.venues[entry.abbr] -%}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
    {%- else -%}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {%- endif -%}
  {%- endif -%}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" -%}
      {{reference}}
    {%- else %}
      <!-- Title -->
      <div class="title">{{entry.title}}</div>
      <!-- Author -->
      <div class="author">
        {% for author in entry.author_array -%}
          {%- if forloop.length == 1 -%}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}}, {{author.first}}</em>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {%- else -%}
            {%- unless forloop.last -%}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.last}}, {{author.first}}</em>,
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.last}}, {{author.first}},
                {% endif %}
              {% endif %}
            {%- else -%}
              {% if author.last == site.scholar.last_name %}
                and <em>{{author.last}}, {{author.first}}</em>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.last}}, {{author.first}}
                {% endif %}
              {% endif %}
            {%- endunless -%}
          {%- endif -%}
        {%- endfor %}
      </div>

      <!-- Journal/Book title and date -->
      {% if entry.type == "article" -%}
        {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
      {%- elsif entry.type == "inproceedings" -%}
        {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
      {%- endif -%}
      {%- if entry.month -%}
        {%- capture entrymonth -%}{{ " " }}{{entry.month}}{%- endcapture -%}
      {%- endif -%}
      {%- if entry.year -%}
        {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
      {%- endif -%}
      {%- capture periodical -%}{{ entrytype }}{{ entrymonth }}{{ entryyear }}{%- endcapture -%}
      <div class="periodical">
        {{ periodical | strip }}
      </div>
    {%- endif %}
  
    <!-- Links/Buttons -->
    <div class="pub-buttons">
      {%- if entry.abstract %}
      <a class="pub-button" onclick="toggleAbstract('{{ entry.key }}_abstract')">ABS</a>
      {% endif %}

      {%- if entry.ads %}
      <a class="pub-button" href="{{ entry.ads }}" target="_blank">ADS</a>
      {% endif %}
      
      {%- if entry.arxiv %}
      <a class="pub-button" href="https://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
      {% endif %}
      
      {%- if entry.arxiv %}
      <a class="pub-button" href="https://arxiv.org/pdf/{{ entry.arxiv }}" target="_blank">arXiv PDF</a>
      {% endif %}

      {%- if entry.doi %}
      <a class="pub-button" href="https://doi.org/{{ entry.doi }}" target="_blank">DOI</a>
      {% endif %}
      
      {%- if entry.html %}
      <a class="pub-button" href="{{ entry.html }}" target="_blank">HTML</a>
      {% endif %}
      
      {%- if entry.pdf %}
      <a class="pub-button" href="{{ entry.pdf }}" target="_blank">PDF</a>
      {% endif %}
      
      {%- if entry.video %}
      <a class="pub-button" href="{{ entry.video }}" target="_blank">VIDEO</a>
      {% endif %}
    </div>

    <!-- Abstract -->
    {% if entry.abstract -%}
    <div id="{{entry.key}}_abstract" class="abstract" style="display: none;">
      <p>{{ entry.abstract }}</p>
    </div>
    {%- endif %}
  </div>
</div>
